<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>668176742537-5dvu2rlt0cnevo81lse0h43uemdh8v4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668176742537-5dvu2rlt0cnevo81lse0h43uemdh8v4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCUONkSxqDcqjJVtLzB-sGkXygkmFesjeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668176742537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valhala.abc</string>
	<key>PROJECT_ID</key>
	<string>project-6446687011276962806</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6446687011276962806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668176742537:ios:58dc0e85d26d53f2</string>
	<key>DATABASE_URL</key>
	<string>https://project-6446687011276962806.firebaseio.com</string>
</dict>
</plist>